@import "tailwindcss";

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow: hidden;
}

body {
  background: #ffffff;
  overflow-x: hidden;
  height: 100%;
  overflow: hidden;
}

/* Hide scrollbar for horizontal scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}
